@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/rambley.png" class="img-fluid" alt="rambley" width="100px">

    <h1 class="display-4">Welcome to COMP 4952</h1>
    <p>My name is Tedrik Dumam-Ag / Gabby</p>
</div>
